/* ============== GLOBAL STYLES ============== */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.is-hidden {
  display: none;
}

.is-visually-hidden {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ============== HEADER STYLES ============== */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header__container {
  display: flex;
  max-width: 320px;
  min-height: 56px;
}

.header__nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header__logo-text {
  color: #2e2f42;
}

.header__menu {
  display: flex;
  gap: 40px;
}

.header__menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.header__menu-link:hover,
.header__menu-link:focus {
  color: #404bbf;
}
.header__menu-link--first {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__menu-link--first::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header__address {
  display: flex;
  gap: 40px;
  padding: 24px 0;
  font-style: normal;
}

.header__address-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__address-link:hover,
.header__address-link:focus {
  color: #404bbf;
}

.header__hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__hamburger-button {
  background-color: #fff;
}

.header__hamburger-icon {
  width: 24px;
  height: 24px;
}

/* ============== MOBILE MENU STYLES ============== */
.mobile-menu__container {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 72px 16px 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  transition: opacity 250ms, visibility 250ms;
}

.mobile-menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__icon {
  width: 12px;
  height: 12px;
}

.mobile-menu__nav {
  margin-bottom: auto;
}

.mobile-menu__nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu__nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-menu__nav-link--first {
  color: #404bbf;
}

.mobile-menu__address {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-style: normal;
}

.mobile-menu__address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-menu__address-link--first {
  color: #4d5ae5;
}

.mobile-menu__social {
  display: flex;
  gap: 40px;
  margin-top: 48px;
}

.mobile-menu__social-item {
  width: 40px;
  height: 40px;
}

.mobile-menu__social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__social-link:hover,
.mobile-menu__social-link:focus {
  background-color: #404bbf;
}

.mobile-menu__social-icon {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}

/* ============== TOP STYLES ============== */
.top {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-mobile.jpg);
  padding: 72px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}

.top__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin: 0 auto 72px auto;
  max-width: 216px;
}

.top__button {
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.top__button:hover,
.top__button:focus {
  background-color: #404bbf;
}

@media (min-resolution: 192dpi) {
  .top {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-mobile@2x.jpg);
  }
}

/* ============== SECTION ADVANTAGES STYLES ============== */
.advantages {
  padding: 96px 0;
}

.advantages__cards {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.advantages__card {
  width: 100%;
}

.advantages__card-icons {
  display: none;
}

.advantages__card-icon {
  width: 64px;
  height: 64px;
}

.advantages__card-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.advantages__card-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ============== SECTION TEAM STYLES ============== */
.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team__title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.team__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team__card {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
  max-width: 264px;
}

.team__card-info {
  padding: 32px 0px 32px 0px;
}

.team__info-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team__info-text {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team__social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team__social-item {
  width: 40px;
  height: 40px;
}

.team__social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-link:hover,
.team__social-link:focus {
  background-color: #404bbf;
  transform: scale(1.15);
}
.team__social-link:hover .team__social-icon,
.team__social-link:focus .team__social-icon {
  transform: scale(1.15);
}

.team__social-icon {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
  transition: transform 250ms ease;
}

/* ============== SECTION PORTFOLIO STYLES ============== */
.portfolio {
  padding: 96px 0px;
}

.portfolio__title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio__cards {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.portfolio__card {
  width: auto;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__card:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio__card-picture {
  position: relative;
  overflow: hidden;
}
.portfolio__card-picture:hover .portfolio__card-overlay {
  transform: translateY(0);
}

.portfolio__card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio__info-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio__info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ============== FOOTER STYLES ============== */
.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__row {
  text-align: center;
  margin-bottom: 72px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer__logo-text {
  color: #f4f4fd;
}

.footer__text {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer__social {
  margin-bottom: 72px;
}

.footer__social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer__social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer__social-item {
  width: 40px;
  height: 40px;
}

.footer__social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-link:hover,
.footer__social-link:focus {
  background-color: #31d0aa;
}

.footer__social-icon {
  width: 20px;
  height: 20px;
  fill: #f4f4fd;
}

.footer__subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer__subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer__subscribe-email {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.6;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
}
.footer__subscribe-email::placeholder {
  color: #ffffff;
}

.footer__subscribe-button {
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.footer__subscribe-button:hover,
.footer__subscribe-button:focus {
  background-color: #31d0aa;
}

.footer__subscribe-icon {
  width: 24px;
  height: 24px;
  margin-left: 16px;
}

/* ============== MODAL STYLES ============== */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 288px;
  min-height: 623px;
  transform: translate(-50%, -50%);
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal__button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover,
.modal__button:focus {
  background-color: #404bbf;
  border: none;
}
.modal__button:hover .modal__icon,
.modal__button:focus .modal__icon {
  fill: #ffffff;
}

.modal__icon {
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal__form-container {
  margin-bottom: 8px;
}
.modal__form-container--comment {
  margin-bottom: 16px;
}

.modal__form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal__form-input-wrap {
  position: relative;
}

.modal__form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input-icon {
  width: 20px;
  height: 24px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-textarea {
  width: 100%;
  height: 120px;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 16px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
}

.modal__checkbox-input {
  width: 24px;
  height: 24px;
}

.modal__checkbox-label {
  padding-left: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal__checkbox-text {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.modal__label-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.modal__form-button {
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 767px) {
  .header__menu {
    display: none;
  }

  .header__address {
    display: none;
  }
}

/* ============== MEDIA TABLET STYLES ============== */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* ---------- HEADER ---------- */
  .header__container {
    min-height: 72px;
  }

  .header__logo {
    display: flex;
    margin-right: 120px;
  }

  .header__address {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 16px;
  }

  .header__address-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header__address-link:hover,
  .header__address-link:focus {
    color: #404bbf;
  }

  .header__hamburger {
    display: none;
  }

  /* ---------- TOP ---------- */
  .top {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-tablet.jpg);
  }

  .top__title {
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 36px auto;
    max-width: 496px;
  }

  @media (min-resolution: 192dpi) {
    .top {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background-tablet@2x.jpg);
    }
  }

  /* ---------- SECTION ADVANTAGES ---------- */
  .advantages__cards {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .advantages__card {
    width: calc((100% - 24px) / 2);
  }

  .advantages__card-title {
    text-align: left;
  }

  /* ---------- SECTION TEAM ---------- */
  .team__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }

  .team__card {
    width: auto;
  }

  /* ---------- SECTION PORTFOLIO ---------- */
  .portfolio__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio__card {
    width: calc((100% - 24px) / 2);
  }

  /* ---------- SECTION FOOTER ---------- */
  .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    column-gap: 24px;
    padding-left: 108px;
  }

  .footer__row {
    width: calc((100% - 24px) / 2);
    text-align: left;
    max-width: 264px;
  }

  .footer__text {
    max-width: 264px;
  }

  .footer__social-title {
    text-align: left;
  }

  .footer__subscribe-title {
    text-align: left;
  }

  .footer__subscribe-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    column-gap: 24px;
  }

  .footer__subscribe-email {
    max-width: 264px;
  }

  /* ---------- MODAL ---------- */
  .modal__window {
    min-width: 408px;
    min-height: 584px;
  }

  .modal__checkbox-input {
    width: 20px;
    height: 20px;
  }
}

/* ============== MEDIA DESKTOP STYLES ============== */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* ---------- HEADER ---------- */
  .header__container {
    min-height: 72px;
  }

  .header__logo {
    position: relative;
    top: auto;
    margin-right: 76px;
  }

  .header__address {
    flex-direction: row;
    gap: 40px;
    padding: 24px 0;
  }

  .header__address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* ---------- TOP ---------- */
  .top {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-desktop.jpg);
    max-width: 1440px;
  }

  .top__title {
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 48px auto;
  }

  @media (min-resolution: 192dpi) {
    .top {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background-desktop@2x.jpg);
    }
  }

  /* ---------- SECTION ADVANTAGES ---------- */
  .advantages {
    padding: 120px 0;
  }

  .advantages__cards {
    display: flex;
    gap: 24px;
  }

  .advantages__card {
    width: calc((100% - 72px) / 4);
  }

  .advantages__card-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid;
  }

  .advantages__card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-align: left;
  }

  .advantages__card-text {
    font-weight: 400;
  }

  /* ---------- SECTION TEAM ---------- */
  .team {
    padding: 120px 0;
  }

  .team__cards {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  /* ---------- SECTION PORTFOLIO ---------- */
  .portfolio {
    padding: 120px 0px;
  }

  .portfolio__cards {
    display: flex;
    flex-direction: row;
    gap: 24px;
    row-gap: 48px;
  }

  .portfolio__card {
    width: auto;
  }

  /* ---------- SECTION FOOTER ---------- */
  .footer {
    padding: 100px 0;
  }

  .footer__container {
    flex-direction: row;
    align-items: baseline;
    padding-left: 15px;
    column-gap: 0px;
  }

  .footer__row {
    text-align: left;
    width: calc((100% - 72px) / 4);
    margin-bottom: 0;
  }

  .footer__social {
    margin-bottom: 0;
    margin-left: 120px;
    margin-right: 80px;
  }

  .footer__social-title {
    text-align: left;
  }

  .footer__subscribe-title {
    text-align: left;
  }

  /* ---------- MODAL ---------- */
  .modal__form-input:focus {
    border-color: #4d5ae5;
  }

  .modal__form-input:focus + svg {
    fill: #4d5ae5;
  }

  .modal__form-textarea:focus {
    border-color: #4d5ae5;
  }

  .modal__checkbox-input {
    width: 18px;
    height: 18px;
  }
}
